<!DOCTYPE html>
<html>
<head>
    <title>Customers List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Customers List</h1>
        <ul class="list-group mt-3">
            {% for customer in customers %}
                <li class="list-group-item">
                    <a href="{% url 'customer_detail' customer.pk %}">{{ customer.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
