<!DOCTYPE html>
<html>
<head>
    <title>Orders List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Orders List</h1>
        <ul class="list-group mt-3">
            {% for order in orders %}
                <li class="list-group-item">
                    <a href="{% url 'order_detail' order.pk %}">{{ order.description }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
